---
import Logo from '../header/Logo.astro';
import type { FooterLogoWrapper, MenuItemWrapper } from '../../types';

interface FooterData {
  footerEmail: string;
  telephone: string;
  footerAddress: string;
  footerCopyright: string;
  footerLogo: FooterLogoWrapper;
  footerPages: MenuItemWrapper[];
  footerServices: MenuItemWrapper[];
}

const {
  footerEmail,
  telephone,
  footerAddress,
  footerCopyright,
  footerLogo,
  footerPages,
  footerServices
} = Astro.props.footer as FooterData;
---

<footer class="my-12 p-4">
  <div class="container max-w-screen-xl bg-foreground text-background text-sm rounded-xl mx-auto p-10 grid grid-cols-1 md:grid-cols-4 gap-10 text-left">

    <!-- Logo & contact -->
    <div class="space-y-4 col-span-1 md:col-span-1">
      <Logo />

    </div>
    <div>
      <ul class="space-y-1 text-left md:text-left">
        {footerPages?.map(({ menuItem }) => (
          <li>
            <a href={menuItem.url} target={menuItem.target} class="hover:underline">
              {menuItem.title}
            </a>
          </li>
        ))}
      </ul>
    </div>
    <div>
      <ul class="space-y-1 text-left md:text-left">
        {footerServices?.map(({ menuItem }) => (
          <li>
            <a href={menuItem.url} target={menuItem.target} class="hover:underline">
              {menuItem.title}
            </a>
          </li>
        ))}
      </ul>
    </div>
    <div class="">
      <ul class="space-y-1 text-left md:text-right">
        <li>{telephone}</li>
        <li>studio@dovetaildigital.co.uk</li>
      
      </ul>
    </div>
    



    <!-- Copyright -->
    <div class="md:col-span-4 text-white">
      <p class="text-left md:text-center">{footerCopyright || `© ${new Date().getFullYear()} Dovetail Digital. All rights reserved.`}</p>
      <p class="text-left md:text-center"><a href="">Privacy policy</a> | <a href="">Cookie policy</a></p>
    </div>
  </div>
</footer>
